# ======================================
# Out-of-tree build artifacts
# ======================================
/build
/build_samd21_iot_wg
/build_samd21_iot_wg2
/build_samd21_xpro_ot
/build_same54_xpro
/build_arduino_nano_33_iot
/build_mchp_gfx
/build_mchp_weather_gfx
/build_mchp_range_gfx
/build_mchp_hrm_gfx
/build_mchp_hw_test
/build_mchp_6dof_imu
/zephyr/build
/nina_ble_uart
/.west
/zephyr/.west
/Kconfig
build_info.yml
sysbuild_modules.txt
zephyr_modules.txt
zephyr_settings.txt
/.claude

# ======================================
# Python virtual environment
# ======================================
.venv/
*.pyc
__pycache__/

# ======================================
# Zephyr SDK / external tools (managed by west)
# ======================================
/zephyr-sdk
*.swp
/bootloader
/modules
/tools
/zephyr

# ======================================
# VS Code
# ======================================
#*.code-workspace
#.vscode/tasks.json        # optional: ignore if you want local overrides
#.vscode/launch.json       # optional: ignore if you want local overrides

# ======================================
# OS-specific files
# ======================================
.DS_Store
Thumbs.db

# ======================================
# Misc
# ======================================
*.log
*.tmp
*.bak
*.old
