#include <zephyr/dt-bindings/display/panel.h>
#include <zephyr/dt-bindings/sensor/icm42688.h>

/{
    aliases {
        imusensor = &icm42688;
        spi4 = &sercom4;
        spi6 = &sercom6;
    };

    chosen {
        zephyr,display = &gc9x01x_lcd;
    };   
};

&pinctrl {
	sercom6_spi_default: sercom6_spi_default {
		group1 {
			pinmux = <PC5C_SERCOM6_PAD1>,
                    <PC4C_SERCOM6_PAD0>,
	                <PC7C_SERCOM6_PAD3>;
		};
	};
};

/* the IMU will be mounted in EXT1 */
&sercom4 {
    status = "okay";

    /* Use SPI SS pin as GPIO CS */
    cs-gpios = <&portb 28 GPIO_ACTIVE_LOW>;

    /* ICM42688 IMU node */
    icm42688: icm42688@0 {
        status = "okay";
        compatible = "invensense,icm42688", "invensense,icm4268x";
        reg = <0>;
        spi-max-frequency = <1000000>;

        /* Interrupt line */
        int-gpios = <&portb 7 GPIO_ACTIVE_HIGH>;

        accel-fs = <ICM42688_DT_ACCEL_FS_2>;
        accel-odr = <ICM42688_DT_ACCEL_ODR_100>;

        gyro-fs = <ICM42688_DT_GYRO_FS_2000>;
        gyro-odr = <ICM42688_DT_GYRO_ODR_100>;

        // turn on low noise mode for gyro and accel
        accel-pwr-mode = <ICM42688_DT_ACCEL_LN>;
        gyro-pwr-mode = <ICM42688_DT_GYRO_LN>;
    };

};


/*************************************************************
                Mikroe socket connections for 
                Adafruit EyeSPI display (check these!)

       1  NC                    16  BACKLIGHT   PB08
       2  TFT_RST   PB01        15  TFT_DC      PD00
       3  TFT_CS    PC06        14  CARD_CS     PA05
       4  SCK       PC05        13  NC
       5  MISO      PC04        12  NC
       6  MOSI      PC07        11  NC
       7  +3V3                  10  +5V  
       8  GND                   9   GND

 *************************************************************/
/* This assumes that the display will be mounted in the XPro socket EXT2 and using sercom6 */
&sercom6 {
    status = "okay";
    compatible = "atmel,sam0-spi";
    dipo = <3>;
    dopo = <0>;

    #address-cells = <1>;
    #size-cells = <0>;

    pinctrl-0 = <&sercom6_spi_default>;
	pinctrl-names = "default";

    /* Use SPI SS pin as GPIO CS */
    cs-gpios = <&portc 6 GPIO_ACTIVE_LOW>;

    my_mipi_dbi {
        compatible = "zephyr,mipi-dbi-spi";
        status = "okay";
        #address-cells = <1>;
        #size-cells = <0>;
        spi-dev = <&sercom6>;
        dc-gpios = <&portd 0 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&portb 1 GPIO_ACTIVE_LOW>;

        gc9x01x_lcd: gc9x01x_lcd@0 {
            compatible = "galaxycore,gc9x01x";
            reg = <0>;
            mipi-max-frequency = <20000000>;
            pixel-format = <PANEL_PIXEL_FORMAT_RGB_565>;
            width = <240>;
            height = <240>;
            display-inversion;
        };
    };
};

